

<h1><ins>Ingrese la Placa de Video que desea consultar mediante la marca, en la base de datos.</ins></h1>

<form action="" method="get">

    <input type="text" name="marca">
    <input type="submit" value="Buscar">

</form>

{% if error %}
<p>{{error}}</p>
{% endif %}

{% if componentes %}
{% for componente in componentes%}
<p>{{componente.marca}} {{componente.nombre}}</p>
{% endfor %}

{% else %}
<p>No hay componentes en stock</p>
{% endif %}


<img src="https://media.istockphoto.com/id/1129032734/es/foto/render-3d-de-futurista-azul-de-circuitos.jpg?s=612x612&w=0&k=20&c=jW0G04ukPumoVNPSke3FG_A9o-t5uWn5E1zUY6rGFI8=" alt="">
<h3>Unidad en stock {{currentdate}}</h3>






<footer>Si la placa se encuentra en stock, se mostrara junto con el horario de consulta.</footer>

<button><a href="{% url "Welcome" %}">Volver</a></button>