<header class="py-3 bg-light border-bottom mb-3" style="background-image: url(https://i.ytimg.com/vi/TRyPk4_JTjY/maxresdefault.jpg); background-position: center; background-repeat: no-repeat; background-size: 15%;">


{% for tarjetas in tarjeta %}






<p> 
    Placas en Stock a la fecha {{currentdate}}
    id: {{tarjetas.id}}
    Nombre: {{tarjetas.nombre}}  Marca: {{tarjetas.marca}}</p>

<button>
    <a href="{% url "Eliminar Placas" tarjetas.id %}">Eliminar</a>
</button>

<button>
    <a href="{% url "Actualizar Placas" tarjetas.id %}">Actualizar</a>
</button>

{% endfor %}


