<form action="" method="post"> {% csrf_token %}
    <p>Fecha {{currentdate}}</p>
    <h1>Computacion DLP</h1>
    <img src="https://media.istockphoto.com/id/1313854295/es/vector/ilustraci%C3%B3n-vectorial-joven-jugador-sentarse-frente-a-una-pantalla-y-jugar-videojuego-usando.jpg?s=612x612&w=0&k=20&c=GNLnfz7dapNH1hFfc-zq0HG8WejzCdYyQ_j_QWVPDzQ=" alt="">
    <h2>Ingrese las Placas de video que desea cargar en la base de datos</h2>
    <body>
        Recuerde: Una vez ingresado el modelo, debera consultar su stock en el apartado "Placas en Stock"
    </body>
    <table>

        {{formulario.as_table}}
        
    </table>

    <button type="submit" value="Enviar">Enviar</button>
    




</form>

<footer>Created by DLP</footer>