<h1>Contenido y acceso de las paginas del proyecto</h1>
<h2>Para los accesos de ingreso a base de datos, sera necesario
    estar en una cuenta administrador, la cual es: Usuario: damian, contraseña: 40541099asd
</h2>

<h3>/blog/bienvenida</h3>
<p>En esta seccion visualizeremos la bienvenida a la pagina, ya seamos invitado o usuario respectivamente.</p>

<h3>/blog/placas/</h3>

<p>En esta seccion vamos a poder ingresar modelos de Placas de video
    a la base de datos mediante Nombre y Marca.
</p>

<h3>/blog/fuentes/</h3>

<p>En esta seccion vamos a poder ingresar modelos de Fuentes
    a la base de datos mediante Watts y Marca.</p>

<h3>/blog/perifericos/</h3>

<p>En esta seccion vamos a poder ingresar modelos de Perifericos
    a la base de datos mediante Tipo, Marca y Modelo.</p>

<h3>/blog/componentes/</h3>

<p>En esta seccion vamos a ingresar placas de video mediante la MARCA,
    en caso de encontrarse en la base de datos, se mostrara dicho modelo
    junto con la fecha de consulta, de caso contrario, se visualizara "No hay componentes en stock"
</p>

<h3>/blog/componentes1/</h3>

<p>En esta seccion vamos a ingresar fuentes mediante la MARCA,
    en caso de encontrarse en la base de datos, se mostrara dicho modelo
    junto con la fecha de consulta, de caso contrario, se visualizara "No hay componentes en stock"
</p>

<h3>/blog/componentes2/</h3>

<p>En esta seccion vamos a ingresar perifericos mediante la MARCA,
    en caso de encontrarse en la base de datos, se mostrara dicho modelo
    junto con la fecha de consulta, de caso contrario, se visualizara "No hay componentes en stock"
</p>

<h3>/blog/mostrarplaca/</h3>

<p> En esta seccion se visualizaran placas que estan con disponibilidad inmediata
    la misma unicamente pueden ser actualizadas o eliminadas por el administrador.
</p>

<h3>/blog/login * logout/</h3>

<p>Dichas opciones son para iniciar y cerrar sesion del usuario. 
    Al iniciar sesion de administrador sera recibido con el saludo al usuario junto con una foto rederijido al index.
</p>

<h3>/blog/editar_usuario/</h3>

<p>En esta seccion podremos editar nombre y email de los usuarios registrados.</p>